﻿<h1>Filed Payment Gateway</h1>
<div class='row'>

    <div class='col-sm-5'>
        <fieldset>
            <legend>Request:</legend>
            <div>
                <div class="form-group">
                    <label for="date-input">Credit Card Number</label>
                    <input id="text" [(ngModel)]="paymentRequest.CreditCardNumber" class="form-control" name="CreditCardNumber" />
                </div>
                <div class="form-group">
                    <label for="distance-input">Card Holder</label>
                    <input type="text" id="distance-input" [(ngModel)]="paymentRequest.CardHolder" name="CardHolder" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="time-input">Expiration Date</label>
                    <input type="text" id="time-input" [(ngModel)]="paymentRequest.ExpirationDate" name="ExpirationDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="time-input">Security Code</label>
                    <input type="text" id="time-input" [(ngModel)]="paymentRequest.SecurityCode" name="SecurityCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="time-input">Amount(Put 999 amount to see retry logic)</label>
                    <input type="text" id="time-input" [(ngModel)]="paymentRequest.Amount" class="form-control" name="Amount" />
                </div>
                <button type="button" class="btn btn-primary" (click)="doPayment($event);">Make Payment</button>
            </div>
        </fieldset>
    </div>

    <div class='col-sm-7 '>
        <fieldset>
            <legend>Request Response:</legend>
            <div class='row'>
                <div class="col-sm-3">
                    <label for="time-input">Url</label>
                </div>
                <div class="col-sm-9">
                    {{requestDetails.requestUrl}}
                </div>
            </div>
            <br />
            <div class='row'>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="time-input">Status</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    {{requestDetails.requestStatus}}
                </div>
            </div>
            <div class='row'>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="time-input">Status Code</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    {{requestDetails.requestStatusCode}}
                </div>
            </div>
            <div class='row'>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="time-input">Response</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <pre>{{requestDetails.response}}</pre>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br /><br />
<div class="row">
    <fieldset>
        <legend>Sample Test Cases:</legend>
        <div class="col-sm-12">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Request</th>
                        <th>Expected Status Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sampleData" [ngClass]="data.IsError ? 'error-highlight' : 'success-highlight'">
                        <td>{{ data.Request }}</td>
                        <td>{{ data.Expected }}</td>
                        <td><button type="button" class="btn btn-primary" (click)="tryRequest(data.Payload);">Try!</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<style>
    .error-highlight {
        color:red;
        font-weight:bold;
    }
    .success-highlight {
        color: green;
        font-weight: bold;
    }
</style>